{% extends "base.jinja" %}

{% block content %}
  <ul>
    {% for log in logs %}
      <li>{{ log.level_name() }} ({{log.datetime|datetime}}): {{log.message}}</li>
    {% endfor %}
  </ul>
{% endblock %}
